site_name: API-SQL tutorials
copyright: "Copyright &copy; 2021 TOKU Industry Inc."
theme:
  name: material
  features:
    - navigation.indexes
markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - def_list
  - footnotes
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets:
      base_path: snippets
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
nav:
    - index.md
    - intoduction-to-T1000.md
    - setup.md
    - Latest readings: latest-readings/index.md
    - Hydrostatic pressure: hydrostatic-pressure/index.md
    - Fourier transform: fourier-transform/index.md
    





